<div class="maincontent" style="max-width:2000px;margin-top:46px">
    <div class="logo-image">
      <img src="assets/LOGOUPDATED2.svg" alt="logo" height="150px">
    </div>
    <!-- The Host Form Section -->
    <form class="formsection" action="/action_page.php">
    <h2>HOST GAME</h2>
      <input type="button" value="HOST ROOM">
    </form> 

    <!-- The Player Form Section -->
    <form class="formsection" action="/action_page.php">
        <h2>JOIN GAME</h2>
        <label class="label" for="name">NAME:</label><br>
        <input type="text" id="name" name="name" placeholder="ENTER NAME"><br>
        <label class="label" for="roomid">UNIQUE ROOM ID:</label><br>
        <input type="text" id="roomid" name="roomid" placeholder="ENTER ROOM ID"><br><br>
        <input type="button" value="JOIN ROOM">
      </form> 
  </div>